{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="">

    {# {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
    {{ form_end(form) }} #}
    {{ form(form) }}
{% endblock %}
