{% extends 'admin/admin.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.new') }}">Ajouter une recette</a>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th style='width: 200px'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>
                        <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{ recipe.title}}</a>
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">Éditer</a>
                            {# Pour le champ caché ajouter 'http_method_override: true' dans config/packages/framework.yaml #}
                            <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
