{% extends 'admin/admin.html.twig' %}

{% block title "Catégorie : " ~ category.name %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {# {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
    {{ form_end(form) }} #}
    {{ form(form) }}
{% endblock %}
