{% extends 'admin/admin.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <a class="btn btn-secondary btn-sm" href="{{ path('admin.category.new') }}">Créer</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <th>
                        <a href="{{ path('admin.category.edit', {id: category.id}) }}">{{ category.name }}</a>
                    </th>
                    <th>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.category.edit', {id: category.id}) }}">Éditer</a>
                            {# Pour le champ caché ajouter 'http_method_override: true' dans config/packages/framework.yaml #}
                            <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
